@use '../helpers/mixins' as *;
@use '../variables' as *;
@use '../helpers/media' as *;

$padding: 0.75rem;

.kanban-board {
  @include flex-center(row, center);
  gap: $gap;
  padding: $gap;
  align-items: flex-start;

  &__column {
    @include flex(column, left);
    justify-content: start;
    width: 100%;
    max-height: 100%;
    background: var(--color-light-grey);
    border-radius: $column-border-radius;
    padding: $padding;
    transition: opacity 0.4s ease-out;
  }

  &__column-header {
    font-size: 1rem;
  }

  &__task-list {
    overflow-y: scroll;
    @include flex(column, center);
    justify-content: start;
    gap: 1rem;
    margin-block: 1rem;
  }

  &__task {
    position: relative;
    width: 100%;
    background: var(--color-white);
    border-radius: $task-border-radius;

    &:hover .kanban-board__task-button {
      opacity: 1;
    }

    & span {
      display: block;
      width: 100%;
      height: 100%;
      padding: 0.5rem;

      &:focus {
        border-radius: $task-border-radius;
        outline: 1px solid var(--color-light-blue);
        outline-offset: -1px;
      }
    }
  }

  &__task-button {
    color: var(--color-grey-blue);
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    @include flex-center();
    opacity: 0;
    transition: opacity 0.4s ease;

    &:last-child {
      right: 0.5rem;
    }

    & > svg {
      height: 1rem;
      width: 1rem;
    }
  }

  &__button-wrapper {
    position: relative;
  }

  %button {
    text-align: left;
    width: fit-content;
    border-radius: $task-border-radius;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    line-height: 1rem;
  }

  &__button {
    @extend %button;
    color: var(--color-grey-blue);
    display: flex;
    align-items: center;
    gap: 0.5em;
    z-index: 1;

    &:disabled {
      opacity: 0.3;
    }

    &:not(:disabled):hover {
      transition: background-color 0.4s ease-out;
      background: var(--color-white);
    }

    i {
      display: flex;
    }
  }

  &__button--submit {
    @extend %button;
    color: var(--color-white);
    background: var(--color-light-blue);
  }

  &__button--disabled {
    @extend %button;
    opacity: 0.5;
  }

  .placeholder {
    border: 2px dashed #aaa;
    border-radius: $task-border-radius;
    transition: height 0.2s ease;
    flex-shrink: 0;
    margin: 0;
  }

  .is-dragging {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    opacity: 0.8;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
  }

  .disabled {
    opacity: 0.3;
  }
}

@include mobile {
  .kanban-board {
    flex-direction: column;

    &__task-button {
      opacity: 1;
    }
  }
}