<div class="kanban-board">
    <section class="kanban-board__column">
        <h2 class="kanban-board__column-header">Backlog</h2>
        <ul class="kanban-board__task-list">
            <li class="kanban-board__task">Login page - performance issues</li>
            <li class="kanban-board__task">Sprint bugfix</li>
            <li class="kanban-board__task">Shop bug 1</li>
            <li class="kanban-board__task">Shop bug 2</li>
        </ul>
        <button class="kanban-board__button">Add card</button>
    </section>
    <section class="kanban-board__column">
        <h2 class="kanban-board__column-header">Backlog</h2>
        <ul class="kanban-board__task-list">
            <li class="kanban-board__task">Login page - performance issues</li>
            <li class="kanban-board__task">Sprint bugfix</li>
            <li class="kanban-board__task">Shop bug 1</li>
            <li class="kanban-board__task">Shop bug 2</li>
            <li class="kanban-board__task">Login page - performance issues</li>
            <li class="kanban-board__task">Sprint bugfix</li>
            <li class="kanban-board__task">Shop bug 1</li>
            <li class="kanban-board__task">Shop bug 2</li>
        </ul>
        <button class="kanban-board__button">Add card</button>
    </section>
    <section class="kanban-board__column">
        <h2 class="kanban-board__column-header">Backlog</h2>
        <ul class="kanban-board__task-list">
            <li class="kanban-board__task">Login page - performance issues</li>
            <li class="kanban-board__task">Sprint bugfix</li>
            <li class="kanban-board__task">Shop bug 1</li>
            <li class="kanban-board__task">Shop bug 2</li>
        </ul>
        <button class="kanban-board__button">Add card</button>
    </section>
    <section class="kanban-board__column">
        <h2 class="kanban-board__column-header">Backlog</h2>
        <ul class="kanban-board__task-list">
            <li class="kanban-board__task">Login page - performance issues</li>
            <li class="kanban-board__task">Sprint bugfix</li>
            <li class="kanban-board__task">Shop bug 1</li>
            <li class="kanban-board__task">Shop bug 2</li>
        </ul>
        <button class="kanban-board__button">Add card</button>
    </section>
</div>