@use "../helpers/mixins" as *;
@use "../variables" as *;
@use '../helpers/media' as *;

footer {
  @include flex-between();
  height: $header-height;

  .counters-wrapper {
    gap: $gap;
    @include flex();
  }
}

@include mobile {
  footer {
    flex-direction: column;
    padding-block: 1rem;
    height: auto;
  }
}