@use "../helpers/mixins" as *;
@use "../variables" as *;
@use '../helpers/media' as *;

.header {
  @include flex-between();
  height: $header-height;
}

.navigation {

  &__link {
    text-decoration: none;
    color: var(--color-white);
  }
}

@include mobile {

  .header {
    flex-direction: row-reverse;
  }
  .navigation {
    @include visually-hidden;
  }
}