@use './variables' as *;
@use './helpers/mixins' as *;

body {
  font-family: var(--font-main);
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header, main, footer {
  width: 100dvw;
}

header, footer {
  height: 3.5rem;
  padding-inline: $gap;
  color: white;
  background: var(--color-dark-blue);
}

.hidden {
  @include visually-hidden();
}