@use './variables' as *;
@use './helpers/mixins' as *;

body {
  position: relative;
  font-family: var(--font-main);
  font-size: 1.1rem;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header, main, footer {
  width: 100dvw;
}

header, footer {
  padding-inline: $gap;
  color: white;
  background: var(--color-dark-blue);
}

button:hover:not(.disabled) {
  cursor: pointer;
}

.hidden {
  @include visually-hidden();
}

.rotated {
  transform: rotate(180deg);
}