:root {
  --color-dark-blue: #0067A3;
  --color-light-blue: #0079BF;
  --color-light-grey: #EBECF0;
  --color-grey-blue: #5E6C84;
  --color-white: #FFF;


  --font-main: 'Roboto regular', sans-serif;
}

$gap: 2rem;
$header-height: 3.5rem;