<h2
  class="admin-panel__header"
  data-el="header"
>User Management
</h2>

<div class="admin-panel__table-wrapper">
  <div
    class="admin-panel__table table"
    data-el="table"
  >
    <div class="table__header">
      <div class="table__header-cell cell">Name</div>
      <div class="table__header-cell cell">Role</div>
      <div class="table__header-cell cell">Actions</div>
    </div>
  </div>
  <button
    class="admin-panel__button"
    type="button"
    aria-label="Add new user"
    data-el="button"
  >
    <i>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xml:space="preserve"
        width="16px"
        height="16px"
        version="1.1"
        style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; fill-rule:evenodd; clip-rule:evenodd"
        viewBox="0 0 69.99 69.99"
      >
         <g id="plus">
          <path
            fill="currentColor"
            d="M5 30l25 0 0 -25c0,-2.75 2.24,-5 4.99,-5l0.01 0c2.75,0 5,2.25 5,5l0 25 24.99 0c2.75,0 5,2.24 5,4.99l0 0.01c0,2.75 -2.25,5 -5,5l-24.99 0 0 24.99c0,2.75 -2.25,5 -5,5l-0.01 0c-2.75,0 -4.99,-2.25 -4.99,-5l0 -24.99 -25 0c-2.75,0 -5,-2.25 -5,-5l0 -0.01c0,-2.75 2.25,-4.99 5,-4.99z"
          />
         </g>
      </svg>
    </i>
    Add New User
  </button>
</div>
