<svg
  xmlns="http://www.w3.org/2000/svg"
  xml:space="preserve"
  width="16px"
  height="16px"
  version="1.1"
  style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; fill-rule:evenodd; clip-rule:evenodd"
  viewBox="0 0 69.99 69.99"
  xmlns:xlink="http://www.w3.org/1999/xlink"
>
         <g id="plus">
          <path
            fill="currentColor"
            d="M5 30l25 0 0 -25c0,-2.75 2.24,-5 4.99,-5l0.01 0c2.75,0 5,2.25 5,5l0 25 24.99 0c2.75,0 5,2.24 5,4.99l0 0.01c0,2.75 -2.25,5 -5,5l-24.99 0 0 24.99c0,2.75 -2.25,5 -5,5l-0.01 0c-2.75,0 -4.99,-2.25 -4.99,-5l0 -24.99 -25 0c-2.75,0 -5,-2.25 -5,-5l0 -0.01c0,-2.75 2.25,-4.99 5,-4.99z"
          />
         </g>
</svg>